apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyseerr
  template:
    metadata:
      labels:
        app: jellyseerr
    spec:
      nodeSelector:
        kubernetes.io/hostname: homeserver
      securityContext:
        fsGroup: 1000
      containers:
        - name: jellyseerr
          image: ghcr.io/seerr-team/seerr:latest
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
          ports:
            - containerPort: 5055
          env:
            - name: TZ
              value: "Europe/Zurich"
            - name: JELLYFIN_SERVER
              value: "http://jellyfin-service:8096" # Hier ist dein Wissen von eben!
          volumeMounts:
            - name: config-storage
              mountPath: /app/config
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 300m
              memory: 512Mi
      volumes:
        - name: config-storage
          persistentVolumeClaim:
            claimName: jellyseerr-config-pvc
